Data structures in Python

Builtin Data structures
- List
- Tuple
- Set
- Dict
- Range

#List

In [1]:
l= []   #Blank List

In [2]:
type(l) #type of l

list

In [3]:
len(l) #length of l

0

In [4]:
l.append()

TypeError: list.append() takes exactly one argument (0 given)

In [5]:
l.append(10) #Adding element to list

In [6]:
l

[10]

In [7]:
l.append(20)
l.append(30)
l.append(50)

In [8]:
l

[10, 20, 30, 50]

In [9]:
l1=[10,20,12.5,True,1+2j,'Data Science']
l1

[10, 20, 12.5, True, (1+2j), 'Data Science']

In [10]:
print(l1)
print(l)

[10, 20, 12.5, True, (1+2j), 'Data Science']
[10, 20, 30, 50]

In [11]:
# Check length of l1 and l

print(len(l1))
print(len(l))

6
4

In [12]:
# Check id of l1 and l

print(id(l1))
print(id(l))

2149916433728
2149910036928

In [13]:
# Copy function in list

l2=l1.copy()  #Copying list l1 to l2
l2

[10, 20, 12.5, True, (1+2j), 'Data Science']

In [14]:
l1 == l2  #Checking equality of l1 and l2

True

In [15]:
l == l2

False

In [16]:
l != l2

True

In [17]:
print(l1)
print(l2)

[10, 20, 12.5, True, (1+2j), 'Data Science']
[10, 20, 12.5, True, (1+2j), 'Data Science']

Indexing and Slicing in List

In [18]:
l[:]

[10, 20, 30, 50]

In [19]:
l[0]

10

In [20]:
l[5]

IndexError: list index out of range

In [21]:
l.append(60)
l

[10, 20, 30, 50, 60]

In [22]:
l[0]

10

In [23]:
l[0]=100    # replace of value at index 0

In [24]:
l   #list is updated with new values

[100, 20, 30, 50, 60]

In [25]:
l[-1]='AI'   # replace last element with AI

In [26]:
l

[100, 20, 30, 50, 'AI']

In [27]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science']

In [28]:
l2.clear()  # Clear list l2
l2

[]

In [29]:
len(l2)

0

In [30]:
# delete variable l2
del l2

In [31]:
l2

NameError: name 'l2' is not defined

In [32]:
l2=l1.copy()

In [33]:
l2.extend(l)  # Extending l2 with l
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [34]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [35]:
l2.count(10)  # Count of 10 in l2

1

In [36]:
l2.count(20)

2

In [37]:
l2.count(40)

0

List Membership 
- list is also called a family and the elements are called as members

In [38]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [39]:
100 in l2  #Membership check

True

In [40]:
40 in l2

False

In [41]:
len(l1)

6

In [42]:
l1.extend(l2)

In [43]:
l1

[10,
 20,
 12.5,
 True,
 (1+2j),
 'Data Science',
 10,
 20,
 12.5,
 True,
 (1+2j),
 'Data Science',
 100,
 20,
 30,
 50,
 'AI']

In [44]:
len(l1)

17

In [45]:
print('l', l)
print('l1', l1)
print('l2', l2)

l [100, 20, 30, 50, 'AI']
l1 [10, 20, 12.5, True, (1+2j), 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
l2 [10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [46]:
l1.index(10)   # first occurrence of 10 in l1

0

In [47]:
l1.index('Data Science')  # first occurrence of 'Data Science' in l1

5

In [48]:
l1.index('AI')

16

In [49]:
l2[:]   #slicing of list

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [50]:
l2[0:7] # print from 0 to 6th index

[10, 20, 12.5, True, (1+2j), 'Data Science', 100]

In [51]:
l2[3:9] # print from 3 to 8th index

[True, (1+2j), 'Data Science', 100, 20, 30]

In [52]:
l2[::2] # print alternate elements

[10, 12.5, (1+2j), 100, 30, 'AI']

In [53]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [54]:
l2[0:8:2]   # print from 0 to 7th index with step size 2

[10, 12.5, (1+2j), 100]

In [55]:
l2[3:10:2]  # print from 3 to 9th index with step size 2

[True, 'Data Science', 20, 50]

In [56]:
l2[::5]     # print elements with step size 5

[10, 'Data Science', 'AI']

Backward Indexing & Slicing

In [57]:
l2[-1]      # print last element

'AI'

In [58]:
l2[-5]      # print 5th last element

100

In [59]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [60]:
l2[3:-3]   #print from 3rd index to 3rd last index

[True, (1+2j), 'Data Science', 100, 20]

In [61]:
l2[:-3]       #print from start to 3rd last index

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20]

In [62]:
l2[-9:]       #print from 9th last index to end

[12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [63]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [64]:
l2[::-1]      # Reversing the list

['AI', 50, 30, 20, 100, 'Data Science', (1+2j), True, 12.5, 20, 10]

In [65]:
l2[::-3]      # Reversing the list with step 2

['AI', 20, (1+2j), 20]

In [66]:
print('l', l)
print('l1', l1)
print('l2', l2)

l [100, 20, 30, 50, 'AI']
l1 [10, 20, 12.5, True, (1+2j), 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
l2 [10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

remove function

In [ ]:
l1.remove(1+2j)     # Removing element 1+2j from l1

In [68]:
l1

[10,
 20,
 12.5,
 True,
 'Data Science',
 10,
 20,
 12.5,
 True,
 (1+2j),
 'Data Science',
 100,
 20,
 30,
 50,
 'AI']