# Tuple

In [1]:
t=()
t

()

In [2]:
t=(1, 2, 3, 4, 5)  
print(t)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [3]:
type(t)

tuple

In [4]:
t1=(10,20,2.25,'one','hello',True,(10+20j),20)
print(t1)

(10, 20, 2.25, 'one', 'hello', True, (10+20j), 20)

In [5]:
t1.count(20)    # count how many times 20 appears in the tuple

2

In [6]:
t1.index('hello')   # print the index of 'hello' in the tuple

4

In [7]:
t1.index(2)   # This will raise a TypeError because 'index' is a method, not a subscriptable object

ValueError: tuple.index(x): x not in tuple

In [8]:
t1.index(20)   # print the index of 20 in the tuple

1

In [9]:
t2=(10,20,30)
print(t2)

(10, 20, 30)

In [10]:
t4=t2 * 3   # Repeat the tuple t2 three times
print(t4)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [11]:
print(len(t2))
print(len(t4))

3
9

In [12]:
t2[2]   # Access the element at index 2 of tuple t2

30

In [13]:
for i in t2:    # Iterate through each element in tuple t2
    print(i)

10
20
30

In [14]:
for i in enumerate(t2):   # Iterate through tuple t2 with index
    print(i)

(0, 10)
(1, 20)
(2, 30)

In [15]:
t2[0]=100   # This will raise a TypeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [16]:
t2.index(20)  # Find the index of the first occurrence of 20 in tuple t2

1

# list
- mutable
- duplicate is allowed
- append(), copy(), insert(), extend(), pop()
- remove the element
- list is growable
- multiple data type in a list
- indexing & slicing is allowed

# Tuple
- immutable ( unchangeable)
- duplication is allowed
- remove is not allowed
- only 2 functions will work (.index, .count)

# Set

In [17]:
s={}
type(s) # This will show that s is a dictionary,because {} creates an empty dictionary by default

dict

In [18]:
s=set()    # empty set will be declared as set
print(s)  # print s
type(s)  # Print the type of s

set()

set

In [19]:
S=set()    # empty set will be declared as set
print(S)  # print s
type(S)  # Print the type of s

set()

set

In [20]:
s1={10,20,30,40,50,20,30,50}    # Declare a set
print(s1)  # Print s1, duplicates are not allowed in set and will be removed
s1

{50, 20, 40, 10, 30}

{10, 20, 30, 40, 50}

In [21]:
type(s1)   # Print the type of s1

set

In [22]:
s2={110,30,60,90,50}
s2

{30, 50, 60, 90, 110}

In [23]:
type(s2)

set

In [24]:
s3=s1.copy()   # Copy set s1 to s3

In [25]:
print(s3)   # Print s3

{50, 20, 40, 10, 30}

In [26]:
s3.add(60)   # Add element 60 to set s3
print(s3)   # Print s3

{50, 20, 40, 10, 60, 30}

In [27]:
s3.add(90)   # Add element 90 to set s3
s3.add('hello')   # Add element 'hello' to set s3
s3.add(2.25)   # Add element 2.25 to set s3
s3.add((1+2j))   # Add element (1+2j) to set s3
print(s3)   # Print s3
s3

{2.25, (1+2j), 10, 20, 90, 30, 40, 50, 'hello', 60}

{(1+2j), 10, 2.25, 20, 30, 40, 50, 60, 90, 'hello'}

In [95]:
for i in s3:
    print(i)

(1+2j)
10
90
40
50
hello
60

In [98]:
for i in enumerate(s3):
    print(i)

(0, (1+2j))
(1, 10)
(2, 90)
(3, 40)
(4, 50)
(5, 'hello')
(6, 60)

Set membership

In [100]:
print(s3)

{(1+2j), 10, 90, 40, 50, 'hello', 60}

In [ ]:
'hello' in s3   # Check if hello is in s3

True

In [ ]:
100 in s3       # Check if 100 is in s3

False

In [105]:
if 'hello' in s3:                       # Check if 'hello' exist in the set
    print('hello is present in the set')
else:
    print('hello is not present in the set')

hello is present in the set

Add & Remove items

In [120]:
S1={'one','two',10,25,12,30,(1+2j),4.66}

In [121]:
print(S1)

{4.66, (1+2j), 10, 12, 'two', 'one', 25, 30}

In [122]:
S1.update(['ten','eleven','twelve'])        # Add multiple items to a set using update
S1

{(1+2j), 10, 12, 25, 30, 4.66, 'eleven', 'one', 'ten', 'twelve', 'two'}

In [123]:
S1.remove(10)   # Remove element 10 from set s1
print(S1)       # Print s1

{'twelve', 4.66, (1+2j), 12, 'eleven', 'two', 'ten', 'one', 25, 30}

In [124]:
S1.remove(100)   # This will raise a KeyError because 100 is not in the set
print(S1)        # Print S1

KeyError: 100

In [125]:
S1.discard(30)   # Remove element 30 from set S1
print(S1)   # Print S1

{'twelve', 4.66, (1+2j), 12, 'eleven', 'two', 'ten', 'one', 25}

In [126]:
S1.discard(1000)   # This will not raise an error even though 1000 is not in the set
print(S1)      # Print S1

{'twelve', 4.66, (1+2j), 12, 'eleven', 'two', 'ten', 'one', 25}

In [127]:
S1.pop()  # Remove and return an arbitrary element from the set S1
print(S1)  # Print S1

{4.66, (1+2j), 12, 'eleven', 'two', 'ten', 'one', 25}

In [128]:
S1.pop(1)  # This will raise a TypeError because 'pop' does not take any arguments
print(S1)  # Print S1

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
S1.clear()      # Delete all items in set S1

In [131]:
S1

set()

In [133]:
del S1      # Delete the set S1
S1

NameError: name 'S1' is not defined

Copy

In [134]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [135]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [139]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same as both are containing same values

(2395902364128, 2395902364128)

In [137]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [138]:
id(my_set) # The address of my_set will be different from myset because my_set i

2395902370400

In [140]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 # myset1 will be also impacted as it is pointing to the same Set myset values modified in myset will be reflected to myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
my_set # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

Set Membership

In [129]:
s3

{(1+2j), 10, 40, 50, 60, 90, 'hello'}

In [34]:
90 in s3   # Check if 90 is an element of set s3

True

In [35]:
100 in s3   # Check if 100 is an element of set s3

False

In [ ]:
s3[:]  # This will raise a TypeError because sets do not support slicing

TypeError: 'set' object is not subscriptable

In [ ]:
s3[1]  # This will raise a TypeError because sets are unordered and do not support indexing

TypeError: 'set' object is not subscriptable

# Set Operations

- Union

In [36]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [37]:
    type(a), type(b), type(c)

(set, set, set)

In [38]:
u=a.union(b)   # Union of sets a and b
print(u)   # Print the union set u

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
u=a.union(b,c)   # Union of sets a, b, and c
print(u)   # Print the union set u

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [41]:
a|b   # Union of sets a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
b|c   # Union of sets b and c

{4, 5, 6, 7, 8, 9, 10}

In [43]:
a|b|c   # Union of sets a, b, and c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
a|c     # Union of sets a and c

{1, 2, 3, 4, 5, 8, 9, 10}

In [45]:
b|c  # Union of sets b and c

{4, 5, 6, 7, 8, 9, 10}

In [46]:
a|c|b   # Union of sets a, c, and b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

- Intersection

In [47]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [48]:
i=a.intersection(b)   # Intersection of sets a and b
print('i:', i)

i: {4, 5}

In [49]:
i=b.intersection(c)   # Intersection of sets b and c
print('i:', i)

i: {8}

In [50]:
a & b   # Intersection of sets a and b

{4, 5}

In [51]:
b & c   # Intersection of sets b and c

{8}

In [52]:
a & b & c   # Intersection of sets a, b, and c

set()

In [53]:
a & c   # Intersection of sets a and c

set()

- Difference

In [54]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [55]:
a.difference(b)   # Difference of sets a and b 
# Difference will only print elements present in a but not in b

{1, 2, 3}

In [56]:
b.difference(a)   # Difference of sets b and a
# Difference will only print elements present in b but not in a

{6, 7, 8}

In [57]:
b.difference(c)   # Difference of sets b and c

{4, 5, 6, 7}

In [58]:
a.difference(c)   # Difference of sets a and c

{1, 2, 3, 4, 5}

In [59]:
b - c   # Difference of sets b and c

{4, 5, 6, 7}

In [60]:
c - a   # Difference of sets c and a

{8, 9, 10}

In [61]:
a-b-c   # Difference of sets a, b and c

{1, 2, 3}

In [62]:
c-a-b   # Difference of sets c, a and b

{9, 10}

Symmetric difference

In [146]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [147]:
a ^ b   # Symmetric difference of sets a and b
# Symmetric difference will print elements present in either a or b but not in both

{1, 2, 3, 6, 7, 8}

In [148]:
a ^ c   # Symmetric difference of sets a and c

{1, 2, 3, 4, 5, 8, 9, 10}

In [149]:
a.symmetric_difference(b)       # Symmetric difference of sets a and b

{1, 2, 3, 6, 7, 8}

In [150]:
a.symmetric_difference_update(b)       # a will be updated with teh symmetric difference of a and b
a

{1, 2, 3, 6, 7, 8}

# Superset, Subset, disjoin

In [66]:
s4={1,2,3,4,5,6,7,8,9,10}
s5={5,6,7,8,9,10}
s6={11,21,31,41,51}

In [67]:
s5.issuperset(s4)   # Check if s5 is a superset of s4
# superset will return True if all elements of s4 are present in s5, otherwise False

False

In [68]:
s4.issuperset(s5)   # Check if s4 is a superset of s5
# superset will return True if all elements of s5 are present in s4, otherwise False

True

In [69]:
s5.issubset(s4)   # Check if s4 is a subset of s5
# subset will return True if all elements of s5 are present in s4, otherwise False

True

In [70]:
s6.isdisjoint(s4)   # Check if s6 is disjoint with s4
# disjoint will return True if s6 has no elements in common with s4, otherwise False

True

In [71]:
s7={1,2,3,4,5,6,7,8,9,10}
s8={15,16,17,18}
s9={20,30,40,50}

In [72]:
s7.issuperset(s8)   # Check if s7 is a superset of s8
# superset will return True if all elements of s8 are present in s7, otherwise False

False

In [73]:
s7.isdisjoint(s8)   # Check if s7 is disjoint with s8
# disjoint will return True if s7 has no elements in common with s8, otherwise False

True

In [74]:
s7.issubset(s9)   # Check if s7 is a subset of s9
# subset will return True if all elements of s7 are present in s9, otherwise False

False

In [151]:
s4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [152]:
sum(s4)     # sum of all values of set s4

55

In [154]:
max(s4)     # highest value in set s4

10

In [ ]:
min(s4) # min value in set s4

1

In [ ]:
len(s4)     # Length of set s4

10

In [ ]:
list(enumerate(s4))     # print set with indexes

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]

In [161]:
D=sorted(s4,reverse=True)       # Sort set A in descending order and copy to D
D

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
sorted(D)       # Sort D in ascending order

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Dictionary

- Dictionary is a collection of key-value pairs
- Each key is unique and is used to access its corresponding value
- Values can be of any data type and can be duplicated
- values are accessed using keys
- dictionary is a mutable data structure that allows modification of its contents
- Dictionary methods include keys(), values(), items(), get(), pop(), and update()
- syntax: d={key1:value1, key2:value2, key3:value3,...}

In [189]:
d= {}   # Create an empty dictionary
type(d)

dict

In [190]:
d1 = {1:'one', 2:'two', 3:'three', 'four':4}
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4}

In [191]:
D1=dict({'A':'one','B':"two","C":"three","D":"four",})  # Create disctionary using dict function
D1

{'A': 'one', 'B': 'two', 'C': 'three', 'D': 'four'}

In [192]:
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4}

In [193]:
d1.items()   # Get all key-value pairs in dictionary d1 as a list of tuples

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), ('four', 4)])

In [194]:
d1.keys()   # Get all keys in dictionary d1

dict_keys([1, 2, 3, 'four'])

In [195]:
d1.values()   # Get all values in dictionary d1

dict_values(['one', 'two', 'three', 4])

In [196]:
len(d1)   # Get the number of key-value pairs in dictionary d1

4

In [197]:
keys={'a','b','c','d','e'}
d3=dict.fromkeys(keys)      # Create dictionary from a sequence of keys
d3

{'e': None, 'b': None, 'a': None, 'd': None, 'c': None}

In [198]:
keys={'a','b','c','d','e'}
value = 100
d3=dict.fromkeys(keys,value)      # Create dictionary from a sequence of keys
d3

{'e': 100, 'b': 100, 'a': 100, 'd': 100, 'c': 100}

In [199]:
keys={'a','b','c','d','e'}
value = [10,20,30,40]
d4=dict.fromkeys(keys,value)      # Create dictionary from a sequence of keys
d4

{'e': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [200]:
value.append(80)
d4

{'e': [10, 20, 30, 40, 80],
 'b': [10, 20, 30, 40, 80],
 'a': [10, 20, 30, 40, 80],
 'd': [10, 20, 30, 40, 80],
 'c': [10, 20, 30, 40, 80]}

Accessing items

In [201]:
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4}

In [202]:
d1.keys()   # Get all keys in dictionary d1

dict_keys([1, 2, 3, 'four'])

In [203]:
d1.values()   # Get all values in dictionary d1

dict_values(['one', 'two', 'three', 4])

In [204]:
d1[1]   # Access the value associated with key 1 in dictionary d1

'one'

In [205]:
d1['four']

4

In [206]:
d1['one']   #

KeyError: 'one'

In [207]:
d1['l1']=[1,2,3]  # Add a new key 'l1' with a list as its value to dictionary d1

In [208]:
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l1': [1, 2, 3]}

In [209]:
d1.values   # doesn't give any output

In [210]:
d1.values()  # prints values in dictionary

dict_values(['one', 'two', 'three', 4, [1, 2, 3]])

In [211]:
d2=d1.copy()    # Copy dictionary d1 to d2
d2

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l1': [1, 2, 3]}

In [212]:
d1.update({'l2':[4,5,6]})  # Add a new key 'l2' with a list as its value to dictionary d1
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l1': [1, 2, 3], 'l2': [4, 5, 6]}

In [213]:
d1.pop('l1')  # Remove the key 'l1' from dictionary d1
print(d1)

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l2': [4, 5, 6]}

In [214]:
d1.pop()  # Remove the last key-value pair from dictionary d1 and return its value

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d1.popitem()    # last key value pair is removed

('l2', [4, 5, 6])

In [217]:
d1.update({'l2':[4,5,6]})  # Add a new key 'l2' with a list as its value to dictionary d1
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l2': [4, 5, 6]}

In [219]:
d1.update({'l':6})  # Add a new key 'l' with value 6
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l2': [4, 5, 6], 'l': 6}

In [ ]:
d1.popitem() # last key value pair is removed

('l', 6)

In [221]:
d1

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l2': [4, 5, 6]}

In [ ]:
del[d1[2]]      # removing key value pair 2 using del function
d1

{1: 'one', 3: 'three', 'four': 4, 'l2': [4, 5, 6]}

In [223]:
d2

{1: 'one', 2: 'two', 3: 'three', 'four': 4, 'l1': [1, 2, 3]}

In [ ]:
d2.clear()      # clear all elements of dictionary
d2

{}

In [226]:
del d2      # delete dictionary 
d2

NameError: name 'd2' is not defined

In [227]:
d1

{1: 'one', 3: 'three', 'four': 4, 'l2': [4, 5, 6]}

In [233]:
for i in d1:
    print(i)    # print dictionary items (keys)

1
3
four
l2

In [234]:
for i in d1:
    print(i, ':', d1[i])    # to print key value pair

1 : one
3 : three
four : 4
l2 : [4, 5, 6]

In [235]:
d1

{1: 'one', 3: 'three', 'four': 4, 'l2': [4, 5, 6]}

In [238]:
'name' in d1    #check if name is in dictionary only refers to keys

False

In [239]:
1 in d1 #check if 1 is in dictionary

True

In [ ]:
all(d1)

True

# Range

- Range is a built-in function in Python that generates a sequence of numbers
- It is commonly used in for loops to iterate over a specific range of values
- range(10)   # Create a range object from 0 to 9
- syntax: range(start, stop, step)

In [ ]:
range(10)   # Create a range object from 0 to 9

range(0, 10)

In [ ]:
range(10, 20)   # Create a range object from 10 to 19

range(10, 20)

In [ ]:
range(10,20,2)   # Create a range object from 10 to 19 with a step of 2

range(10, 20, 2)

In [ ]:
list(range(10))   # Convert the range object to a list and print it

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20))   # Convert the range object to a list and print it

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(10,20,2))  # print the range with step 2 between 10 and 20

[10, 12, 14, 16, 18]

In [ ]:
for i in range(10,20,2):    # 
    print(i)

10
12
14
16
18

In [ ]:
r=range(10)

In [ ]:
print(r)

range(0, 10)