Data structures in Python

Builtin Data structures
- List
- Tuple
- Set
- Dict
- Range

#List

In [1]:
l= []   #Blank List

In [2]:
type(l) #type of l

list

In [3]:
len(l) #length of l

0

In [4]:
l.append()

TypeError: list.append() takes exactly one argument (0 given)

In [5]:
l.append(10) #Adding element to list

In [6]:
l

[10]

In [7]:
l.append(20)
l.append(30)
l.append(50)

In [8]:
l

[10, 20, 30, 50]

In [9]:
l1=[10,20,12.5,True,1+2j,'Data Science']
l1

[10, 20, 12.5, True, (1+2j), 'Data Science']

In [10]:
print(l1)
print(l)

[10, 20, 12.5, True, (1+2j), 'Data Science']
[10, 20, 30, 50]

In [11]:
# Check length of l1 and l

print(len(l1))
print(len(l))

6
4

In [12]:
# Check id of l1 and l

print(id(l1))
print(id(l))

2013107368896
2013101245440

In [13]:
# Copy function in list

l2=l1.copy()  #Copying list l1 to l2
l2

[10, 20, 12.5, True, (1+2j), 'Data Science']

In [14]:
l1 == l2  #Checking equality of l1 and l2

True

In [15]:
l == l2

False

In [16]:
l != l2

True

In [17]:
print(l1)
print(l2)

[10, 20, 12.5, True, (1+2j), 'Data Science']
[10, 20, 12.5, True, (1+2j), 'Data Science']

Indexing and Slicing in List

In [18]:
l[:]

[10, 20, 30, 50]

In [19]:
l[0]

10

In [21]:
l[5]

IndexError: list index out of range

In [22]:
l.append(60)
l

[10, 20, 30, 50, 60]

In [23]:
l[0]

10

In [24]:
l[0]=100    # replace of value at index 0

In [25]:
l   #list is updated with new values

[100, 20, 30, 50, 60]

In [26]:
l[-1]='AI'   # replace last element with AI

In [27]:
l

[100, 20, 30, 50, 'AI']

In [28]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science']

In [29]:
l2.clear()  # Clear list l2
l2

[]

In [30]:
len(l2)

0

In [31]:
# delete variable l2
del l2

In [32]:
l2

NameError: name 'l2' is not defined

In [33]:
l2=l1.copy()

In [34]:
l2.extend(l)  # Extending l2 with l
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [35]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [36]:
l2.count(10)  # Count of 10 in l2

1

In [37]:
l2.count(20)

2

In [38]:
l2.count(40)

0

List Membership 
- list is also called a family and the elements are called as members

In [39]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [40]:
100 in l2  #Membership check

True

In [41]:
40 in l2

False

In [42]:
len(l1)

6

In [43]:
l1.extend(l2)

In [44]:
l1

[10,
 20,
 12.5,
 True,
 (1+2j),
 'Data Science',
 10,
 20,
 12.5,
 True,
 (1+2j),
 'Data Science',
 100,
 20,
 30,
 50,
 'AI']

In [45]:
len(l1)

17

In [46]:
print('l', l)
print('l1', l1)
print('l2', l2)

l [100, 20, 30, 50, 'AI']
l1 [10, 20, 12.5, True, (1+2j), 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
l2 [10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [47]:
l1.index(10)   # first occurrence of 10 in l1

0

In [48]:
l1.index('Data Science')  # first occurrence of 'Data Science' in l1

5

In [49]:
l1.index('AI')

16

In [50]:
l2[:]   #slicing of list

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [51]:
l2[0:7] # print from 0 to 6th index

[10, 20, 12.5, True, (1+2j), 'Data Science', 100]

In [52]:
l2[3:9] # print from 3 to 8th index

[True, (1+2j), 'Data Science', 100, 20, 30]

In [53]:
l2[::2] # print alternate elements

[10, 12.5, (1+2j), 100, 30, 'AI']

In [54]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [55]:
l2[0:8:2]   # print from 0 to 7th index with step size 2

[10, 12.5, (1+2j), 100]

In [56]:
l2[3:10:2]  # print from 3 to 9th index with step size 2

[True, 'Data Science', 20, 50]

In [57]:
l2[::5]     # print elements with step size 5

[10, 'Data Science', 'AI']

Backward Indexing & Slicing

In [58]:
l2[-1]      # print last element

'AI'

In [59]:
l2[-5]      # print 5th last element

100

In [60]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [61]:
l2[3:-3]   #print from 3rd index to 3rd last index

[True, (1+2j), 'Data Science', 100, 20]

In [62]:
l2[:-3]       #print from start to 3rd last index

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20]

In [63]:
l2[-9:]       #print from 9th last index to end

[12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [64]:
l2

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [65]:
l2[::-1]      # Reversing the list

['AI', 50, 30, 20, 100, 'Data Science', (1+2j), True, 12.5, 20, 10]

In [66]:
l2[::-3]      # Reversing the list with step 2

['AI', 20, (1+2j), 20]

In [67]:
print('l', l)
print('l1', l1)
print('l2', l2)

l [100, 20, 30, 50, 'AI']
l1 [10, 20, 12.5, True, (1+2j), 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
l2 [10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

remove function

In [68]:
l1.remove(1+2j)     # Removing element 1+2j from l1

In [69]:
l1

[10,
 20,
 12.5,
 True,
 'Data Science',
 10,
 20,
 12.5,
 True,
 (1+2j),
 'Data Science',
 100,
 20,
 30,
 50,
 'AI']

23rd Oct

In [70]:
print('l', l)
print('l1', l1)
print('l2', l2)

l [100, 20, 30, 50, 'AI']
l1 [10, 20, 12.5, True, 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
l2 [10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [71]:
l.insert(2, 'ML')   # Insert 'ML' at index 2 in l
print(l)

[100, 20, 'ML', 30, 50, 'AI']

In [72]:
l.insert(4, 25)   # Insert 25 at index 4 in l

In [73]:
l

[100, 20, 'ML', 30, 25, 50, 'AI']

In [74]:
l.insert([11,12,13],7)

TypeError: 'list' object cannot be interpreted as an integer

In [75]:
l.insert(5,[1,2,23])   # Insert [1,2,23] at index 5 in l

In [76]:
l

[100, 20, 'ML', 30, 25, [1, 2, 23], 50, 'AI']

In [77]:
l.pop()    # Removing last element from l

'AI'

In [78]:
print(l)

[100, 20, 'ML', 30, 25, [1, 2, 23], 50]

In [79]:
print(l1)

[10, 20, 12.5, True, 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [80]:
l1.pop(True)    # Removing first element from l1

20

In [81]:
print(l1)

[10, 12.5, True, 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [82]:
l1.pop(False)   # Removing first element from l1

10

In [83]:
print(l1)

[12.5, True, 'Data Science', 10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [84]:
l1.pop(5)    # Removing element at index 5 from l1

12.5

In [85]:
print(l1)
print(id(l1))

[12.5, True, 'Data Science', 10, 20, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
2013107368896

In [86]:
del l1[5]   # Deleting element at index 5 from l1
print(l1)

[12.5, True, 'Data Science', 10, 20, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [87]:
l3=l1.copy()
print(l3)

[12.5, True, 'Data Science', 10, 20, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [88]:
del l1  # Deleting entire list l1
print(l1)

NameError: name 'l1' is not defined

In [89]:
print(l3)
print(id(l3))

[12.5, True, 'Data Science', 10, 20, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
2013107414592

In [90]:
l1=l3.copy()    # Copying l3 to l1
print(l1)
print(id(l1))

[12.5, True, 'Data Science', 10, 20, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']
2013107218496

In [91]:
l4=[10,24,54,34,65,98,237,120]

In [92]:
print(l4)

[10, 24, 54, 34, 65, 98, 237, 120]

In [93]:
# Parameter as we are using system parameter

l4.sort()   # Sorting l4 in ascending order
print(l4)

[10, 24, 34, 54, 65, 98, 120, 237]

In [94]:
# Hyperparameter as we are modifying the parameter - using our own value
# reverse is used instead of default in sort

l4.sort(reverse=True)  # Sorting l4 in descending order
print(l4)

[237, 120, 98, 65, 54, 34, 24, 10]

In [95]:
l5=['q','d','j','a','h','b','l','u','m','n','i','g','f']
print(l5)

['q', 'd', 'j', 'a', 'h', 'b', 'l', 'u', 'm', 'n', 'i', 'g', 'f']

In [96]:
l5.sort()   # Sorting l5 in ascending order
print(l5)

['a', 'b', 'd', 'f', 'g', 'h', 'i', 'j', 'l', 'm', 'n', 'q', 'u']

In [97]:
l5.sort(reverse=True)   # Sorting l5 in descending order
print(l5)

['u', 'q', 'n', 'm', 'l', 'j', 'i', 'h', 'g', 'f', 'd', 'b', 'a']

In [98]:
print(l1)

[12.5, True, 'Data Science', 10, 20, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [99]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'bool'

Nested Index

In [100]:
print(l3)

[12.5, True, 'Data Science', 10, 20, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [101]:
print(l3[2])    # Accessing 3rd element which is a nested list

Data Science

In [102]:
print(l3[2][0])
print(l3[2][1])
print(l3[2][2])
print(l3[2][3])
print(l3[2][4])
print(l3[2][5])
print(l3[2][6])
print(l3[2][7])
print(l3[2][8])
print(l3[2][9])
print(l3[2][10])
print(l3[2][11])

D
a
t
a

S
c
i
e
n
c
e

In [103]:
print(l3[2][0])
print(l3[2][1])
print(l3[2][2])
print(l3[2][3])
print(l3[2][4])
print(l3[2][5])
print(l3[2][6])
print(l3[2][7])
print(l3[2][8])
print(l3[2][9])
print(l3[2][10])
print(l3[2][11])
print(l3[2][12])

D
a
t
a

S
c
i
e
n
c
e

IndexError: string index out of range

For loop

In [104]:
print(l2)

[10, 20, 12.5, True, (1+2j), 'Data Science', 100, 20, 30, 50, 'AI']

In [105]:
for i in l2:    # for loop to iterate through list l2
    print(i)

10
20
12.5
True
(1+2j)
Data Science
100
20
30
50
AI

In [106]:
for i in enumerate(l2): # enumerate function to get index and value
    print(i)

(0, 10)
(1, 20)
(2, 12.5)
(3, True)
(4, (1+2j))
(5, 'Data Science')
(6, 100)
(7, 20)
(8, 30)
(9, 50)
(10, 'AI')

Join Lists

In [107]:
print('l4', l4)
print('l5', l5)

l4 [237, 120, 98, 65, 54, 34, 24, 10]
l5 ['u', 'q', 'n', 'm', 'l', 'j', 'i', 'h', 'g', 'f', 'd', 'b', 'a']

In [108]:
l6=l4+l5   # Joining two lists l4 and l5
print(l6)

[237, 120, 98, 65, 54, 34, 24, 10, 'u', 'q', 'n', 'm', 'l', 'j', 'i', 'h', 'g', 'f', 'd', 'b', 'a']

All / Any

The all() method returns:
- True - If all elements in a list are true
- False - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False

In [109]:
L1=[10,24,12,35,0]
print(L1)

[10, 24, 12, 35, 0]

In [110]:
all(L1)   # Check if all elements are true in L1

False

In [111]:
any(L1)   # Check if any element is true in L1

True

In [112]:
L1=[10,24,12,35]
print(L1)

[10, 24, 12, 35]

In [113]:
all(L1)

True

In [114]:
any(L1)

True

In [115]:
L2 = [10,20,30,40,True,False]
print(L2)

[10, 20, 30, 40, True, False]

In [116]:
print(all(L2))
print(any(L2))

False
True

In [117]:
L3 = [10,20,30,40,True]
print(L3)

[10, 20, 30, 40, True]

In [118]:
print(all(L3))
print(any(L3))

True
True