# Tuple

In [43]:
t=()
t

()

In [44]:
t=(1, 2, 3, 4, 5)  
print(t)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [45]:
type(t)

tuple

In [46]:
t1=(10,20,2.25,'one','hello',True,(10+20j),20)
print(t1)

(10, 20, 2.25, 'one', 'hello', True, (10+20j), 20)

In [47]:
t1.count(20)    # count how many times 20 appears in the tuple

2

In [48]:
t1.index('hello')   # print the index of 'hello' in the tuple

4

In [7]:
t1.index(2)   # This will raise a TypeError because 'index' is a method, not a subscriptable object

ValueError: tuple.index(x): x not in tuple

In [49]:
t1.index(20)   # print the index of 20 in the tuple

1

In [50]:
t2=(10,20,30)
print(t2)

(10, 20, 30)

In [51]:
t4=t2 * 3   # Repeat the tuple t2 three times
print(t4)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [52]:
print(len(t2))
print(len(t4))

3
9

In [54]:
t2[2]   # Access the element at index 2 of tuple t2

30

In [55]:
for i in t2:    # Iterate through each element in tuple t2
    print(i)

10
20
30

In [56]:
for i in enumerate(t2):   # Iterate through tuple t2 with index
    print(i)

(0, 10)
(1, 20)
(2, 30)

In [57]:
t2[0]=100   # This will raise a TypeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [58]:
t2.index(20)  # Find the index of the first occurrence of 20 in tuple t2

1

# list
- mutable
- duplicate is allowed
- append(), copy(), insert(), extend(), pop()
- remove the element
- list is growable
- multiple data type in a list
- indexing & slicing is allowed

# Tuple
- immutable ( unchangeable)
- duplication is allowed
- remove is not allowed
- only 2 functions will work (.index, .count)

# Set

In [68]:
s={}
type(s) # This will show that s is a dictionary,because {} creates an empty dictionary by default

dict

In [69]:
s=set()    # empty set will be declared as set
print(s)  # print s
type(s)  # Print the type of s

set()

set

In [70]:
S=set()    # empty set will be declared as set
print(S)  # print s
type(S)  # Print the type of s

set()

set

In [80]:
s1={10,20,30,40,50,20,30,50}    # Declare a set
print(s1)  # Print s1, duplicates are not allowed in set and will be removed
s1

{50, 20, 40, 10, 30}

{10, 20, 30, 40, 50}

In [73]:
type(s1)   # Print the type of s1

set

In [75]:
s2={110,30,60,90,50}
s2

{30, 50, 60, 90, 110}

In [76]:
type(s2)

set

In [77]:
s3=s1.copy()   # Copy set s1 to s3

In [78]:
print(s3)   # Print s3

{50, 20, 40, 10, 30}

In [81]:
s3.add(60)   # Add element 60 to set s3
print(s3)   # Print s3

{50, 20, 40, 10, 60, 30}

In [83]:
s3.add(90)   # Add element 90 to set s3
s3.add('hello')   # Add element 'hello' to set s3
s3.add(2.25)   # Add element 2.25 to set s3
s3.add((1+2j))   # Add element (1+2j) to set s3
print(s3)   # Print s3
s3

{2.25, (1+2j), 10, 'hello', 20, 90, 30, 40, 50, 60}

{(1+2j), 10, 2.25, 20, 30, 40, 50, 60, 90, 'hello'}

In [84]:
s3.remove(20)   # Remove element 20 from set s3
print(s3)   # Print s3

{2.25, (1+2j), 10, 'hello', 90, 30, 40, 50, 60}

In [85]:
s3.remove(100)   # This will raise a KeyError because 100 is not in the set
print(s3)   # Print s3

KeyError: 100

In [86]:
s3.discard(30)   # Remove element 30 from set s3
print(s3)   # Print s3

{2.25, (1+2j), 10, 'hello', 90, 40, 50, 60}

In [87]:
s3.discard(1000)   # This will not raise an error even though 1000 is not in the set
print(s3)   # Print s3

{2.25, (1+2j), 10, 'hello', 90, 40, 50, 60}

In [88]:
s3.pop()  # Remove and return an arbitrary element from the set s3
print(s3)  # Print s3

{(1+2j), 10, 'hello', 90, 40, 50, 60}

In [89]:
s3.pop(1)  # This will raise a TypeError because 'pop' does not take any arguments
print(s3)  # Print s3

TypeError: set.pop() takes no arguments (1 given)

In [90]:
s3[1]  # This will raise a TypeError because sets are unordered and do not support indexing

TypeError: 'set' object is not subscriptable

In [91]:
s3[:]  # This will raise a TypeError because sets do not support slicing

TypeError: 'set' object is not subscriptable

Set Membership

In [92]:
90 in s3   # Check if 90 is an element of set s3

True

In [93]:
100 in s3   # Check if 100 is an element of set s3

False

# Set Operations

- Union

In [94]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [95]:
    type(a), type(b), type(c)

(set, set, set)

In [96]:
u=a.union(b)   # Union of sets a and b
print(u)   # Print the union set u

{1, 2, 3, 4, 5, 6, 7, 8}

In [97]:
u=a.union(b,c)   # Union of sets a, b, and c
print(u)   # Print the union set u

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [98]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [99]:
a|b   # Union of sets a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [100]:
b|c   # Union of sets b and c

{4, 5, 6, 7, 8, 9, 10}

In [101]:
a|b|c   # Union of sets a, b, and c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [102]:
a|c     # Union of sets a and c

{1, 2, 3, 4, 5, 8, 9, 10}

In [103]:
b|c  # Union of sets b and c

{4, 5, 6, 7, 8, 9, 10}

In [104]:
a|c|b   # Union of sets a, c, and b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

- Intersection

In [105]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [106]:
i=a.intersection(b)   # Intersection of sets a and b
print('i:', i)

i: {4, 5}

In [107]:
i=b.intersection(c)   # Intersection of sets b and c
print('i:', i)

i: {8}

In [108]:
a & b   # Intersection of sets a and b

{4, 5}

In [109]:
b & c   # Intersection of sets b and c

{8}

In [110]:
a & b & c   # Intersection of sets a, b, and c

set()

In [111]:
a & c   # Intersection of sets a and c

set()

- Difference

In [112]:
print('a:', a)
print('b:', b)
print('c:', c)

a: {1, 2, 3, 4, 5}
b: {4, 5, 6, 7, 8}
c: {8, 9, 10}

In [113]:
a.difference(b)   # Difference of sets a and b 
# Difference will only print elements present in a but not in b

{1, 2, 3}

In [114]:
b.difference(a)   # Difference of sets b and a
# Difference will only print elements present in b but not in a

{6, 7, 8}

In [115]:
b.difference(c)   # Difference of sets b and c

{4, 5, 6, 7}

In [116]:
a.difference(c)   # Difference of sets a and c

{1, 2, 3, 4, 5}

In [117]:
b - c   # Difference of sets b and c

{4, 5, 6, 7}

In [118]:
c - a   # Difference of sets c and a

{8, 9, 10}

In [119]:
a-b-c   # Difference of sets a, b and c

{1, 2, 3}

In [120]:
c-a-b   # Difference of sets c, a and b

{9, 10}