Print Function print()

In [66]:
a=50
b=20
c=a+b
print(a)
print(b)
print(c)

50
20
70

In [67]:
print(a,b,c,a-b,'Python')

50 20 70 30 Python

In [68]:
num1=20
num2=10
num3=50
sum1 =num1+ num2
sum2=num2+ num3
sum3=num1+num2+num3
print(f'The Sum of {num1} and {num2} is {sum1}')

The Sum of 20 and 10 is 30

In [69]:
#Print String

name='Krishna'
city='Bangalore'
print('My name is' ,name, 'and I live in' ,city,)

My name is Krishna and I live in Bangalore

In [70]:
# Print Format method

print('The Sum of {} and {} is {}'.format(num1,num2,sum1))

The Sum of 20 and 10 is 30

In [71]:
# fstring method

print(f'The sum of {num3} and {num2} is {sum2}')

The sum of 50 and 10 is 60

In [72]:
print(f'My Name is {name} and I live in {city}')

My Name is Krishna and I live in Bangalore

In [73]:
avg=round((num1+num2+num3)/3,2)

In [74]:
print(f'The average of {num1}, {num2} and {num3} is {avg}')

The average of 20, 10 and 50 is 26.67

In [75]:
print('The Sum of {} and {} is {}'.format(num1,num2,sum1))
print(f'The sum of {num3} and {num2} is {sum2}')
print(f'The average of {num1}, {num2} and {num3} is {avg}')

The Sum of 20 and 10 is 30
The sum of 50 and 10 is 60
The average of 20, 10 and 50 is 26.67

end statement

In [76]:
print('Hello')
print('World')

Hello
World

In [77]:
# To print both the lines to a single line, you can use the `end` parameter of the `print` function:

print('Hello', end=' ')
print('World')

Hello World

Separator

In [ ]:
print('Hello','World','Good','morning', sep='-')    # Using sep to separate words with hyphen

Hello-World-Good-morning

In [ ]:
print('Hello','World','Good','morning', sep=' ') # Using sep to separate words with space

Hello World Good morning

In [ ]:
print(10,'.')   # Printing 10 followed by a dot

10 .

In [ ]:
print(10,'.',sep='')    # Printing 10 followed by a dot without space

10.

In [ ]:
print(10,'.',20,'.')  # Printing 10 followed by a dot and 20 followed by a dot

10 . 20 .

In [ ]:
print(10,'.',20,'.', sep='')  # Printing 10 followed by a dot and 20 followed by a dot without spaces

10.20.

In [ ]:
import time
for i in range(5):
    print(i, end=" ", flush=True)
    time.sleep(0.5)
# Output: 0 1 2 (with a 1-second delay between each number)